.dataCard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 30px 10px;
    /* margin-bottom: 15px; */
}

.dataCard__top {
    width: 100%;
    display: flex;
}

.dataCard__image {
    width: 40%;
    height: 100%;
    padding-left: 15px;
}

.dataCard__description {
    width: 60%;
    padding-left: 15px;
}

.dataCard__description > h3 {
    color: blue;
    padding-bottom: 10px;
}

.dataCard__description > p {
    font-size: small;
    line-height: 25px;
    color: rgb(82, 80, 80);
}

.dataCard__description > ul {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    color: rgb(82, 80, 80);
    font-size: small;
    line-height: 25px;
}

.dataCard__image > img {
    height: auto;
    width: 100%;
    object-fit: contain;
}

.dataCard__longText {
    margin-top: 20px;
    color: rgb(82, 80, 80);
    font-size: small;
    line-height: 25px;
}

.dataCard__longText > ul {
    margin-top: 15px;
}

.dataCard__btn {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 50px;
}

.dataCard__btn > button {
    border-radius: 6px;
    padding: 10px 19px;
    color: white;
    background-color: rgb(19, 207, 28);
    margin-top: 25px;

}


/* @media(max-width: 1350px) {
    .dataCard {
        height: 300px;
    }
}

@media(max-width: 1100px) {
    .dataCard {
        height: 320px;
    }
}

@media(max-width: 1040px) {
    .dataCard {
        height: 340px;
    }
} */
