.datasheet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datasheet__carousel {
    background-color: skyblue;
    width: 100%;
}

.datasheet__content {
    width: 80%;
}

.datasheet__content > p {
    text-align: center;
    font-size: xx-large;
    color: rgb(97, 96, 96);
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dash {
    font-size: 50px;
    color: lawngreen;
}

.datasheet__row > hr {
    color: rgba(180, 179, 179, 0.274);
    margin-top: 45px;
    margin-bottom: 100px;
}



@media(min-width: 960px) {
    .datasheet__row > hr {
        margin-top: 0px;
    }
}
