
.bottom {
    height: auto;
    width: 100%;
    background: url('../images/home_bottom.jpg') no-repeat 50% 50%;
    background-size: cover;
    margin-top: 100px;
}

.bottomOverlay {
    height: 100%;
    width: 100%;
    background-color: rgba(17, 40, 71, 0.623);
    display: flex;
    justify-content: center;
}

.bottomContent {
    height: 100%;
    width: 80%;
    padding-top: 100px;
    padding-bottom: 150px;
}

.bottomGrid > h4 {
    color: white;
    margin-bottom: 30px;
}

.bottomGrid > p {
    color: rgb(184, 175, 175);
    margin-bottom: 20px;
    font-size: small;
}

.bottomGrid > p:hover {
    color: yellow;
}

.bottomForm > form > input {
    height: 25px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid rgb(151, 149, 149);
    color: rgb(7, 156, 224);
    padding-left: 5px;
    width: 100%;
}

.bottomForm > form > input:focus {
    background-color: white;
    transition: all 400ms linear;
}

.bottomForm > form > textarea:focus {
    background-color: white;
    transition: all 400ms linear;
}

.bottomForm > form > textarea {
    height: 70px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid rgb(151, 149, 149);
    color: rgb(7, 156, 224);
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
}

.bottomContent > hr {
    margin-top: 100px;
    border: 1px dotted rgb(184, 175, 175);
}

.bottom__footer {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    color: gray;
    font-size: 12px;
}

.bottom__footerLeft {
    display: flex;
    align-items: center;
}

.bottom__footerRight {
    display: flex;
    align-items: center;
}
