.header {
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    background-color: #050505;
    position: sticky;
    top: 0;
    z-index: 2000;
}

.header__image > img {
    margin: 50 20px;
    max-width: 85%;
    height: auto;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 200ms linear;
    font-size: 14px;
}

.header__link:hover {
    color: rgb(10, 233, 10);
    transform: scale(1.2);
    transition: all 200ms linear;
}

.header__rightBtn > button {
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: rgba(2, 1, 1, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #00CE1B;
    border-radius: 50px 50px 50px 50px;
    padding: 7px 10px 7px 10px;
    color: white;
    font-size: 14px;
}

.header__rightBtn > button:hover {
    background-color: #C9D500;
}

.header__mobileMenuIcon {
    display: none;
}

.header__right {
    display: flex;
    align-items: center;
}


@media(max-width: 960px) {
    .header__nav {
        display: none;
    }

    .header__mobileMenuIcon {
        display: flex;
    }

    .header {
        justify-content: space-between;
    }

}
