.header {
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 1;
    background-color: #11121336;
    /* position: sticky; */
    top: 0;
    z-index: 100;
}

.header__image > img {
    margin: 50 20px;
    max-width: 85%;
    height: auto;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.header > button {
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: rgba(2, 1, 1, 0);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #00CE1B;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.header > button:hover {
    background-color: #C9D500;
}
