.card {
    width: 100%;
    min-height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 8px 12px rgb(43, 42, 42);

}

.card__icon > h1 {
    font-size: 50px;
    color: rgba(31, 204, 31, 0.671);
    transition: all 200ms linear;
}

.card, .card__mobileHide > h3 {
    color: rgb(65, 62, 62);
}

.card, .card__mobileHide > p {
    font-size: small;
    color: rgb(65, 62, 62);
}

.card__icon > h1:hover {
    transform: scale(0.85);
    transition: all 200ms linear;
    color: rgba(15, 146, 221, 0.603);
}

.card__mobileHide {
    width: 100%;
    min-height: 130px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 8px 12px rgb(43, 42, 42);
}

@media (max-width: 800px) {
    .card__mobileHide {
        display: none;
    }
}
