.home {
    width: 100%;
}

.home__top {
    height: 800px;
    width: 100%;
    background: url('../images/adtechFactory.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.home__overlay {
    height: 800px;
    width: 100%;
    background-color: rgba(45, 50, 95, 0.6);
    display: flex;
    justify-content: center;
    z-index: -1;
}

.home__topContent {
    height: 50%;
    width: 90%;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.home__topInfo {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.home__topInfoBtn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.home__topInfo > h4 {
    color: white;
    margin-bottom: 30px;
}

.home__cards {
    display: flex;
    align-self: flex-end;
    z-index: 1;
    width: 100%;
    /* padding: 0px 10px 0px 10px; */
}


/* About Us */

.home__aboutUs {
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    justify-content: center;
}

.home__aboutUsContent {
    /* left: 0; right: 0; bottom: 0; */
    padding: 250px 50px 150px 50px ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    height: auto;
    line-height: 30px;
    font-size: small;
}

.home__aboutUsContent > h3, .home__aboutUsContent > h2 {
    margin-bottom: 20px;
    color: rgb(5, 104, 150);
}

.home__aboutUsContent > p {
    color: rgb(65, 62, 62);
}


/* our products */

.home__ourProducts {
    height: auto;
    width: 100%;
    background: url('../images/our_products.jpeg') no-repeat 50% 50%;
    background-size: cover;
    z-index: 1;
}

.home__overlayProducts {
    height: auto;
    width: 100%;
    background-color: rgba(45, 50, 95, 0.6);
    display: flex;
    justify-content: center;
}

.home__productsContent {
    color: white;
    width: 80%;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    /* padding: 150px 100px 150px 100px; */
}

.home__productsLeft {
    color: white;
}

.home__productsLeft > hr {
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(151, 148, 148);
}

.leftHoverBorder {
    border: 1px solid transparent;
    margin-bottom: 30px;
}

.leftHoverBorder:hover {
    transition: all 200ms linear;
    /* box-shadow: 2px 5px 8px rgb(212, 209, 209); */
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.leftLinksBox > span {
    padding-right: 25px;
    padding-left: 25px;
    border-right: 1px solid white;
    line-height: 30px;
}

.leftLinksBox > span:hover {
    color: yellow;
    cursor: pointer;
}

#firstSpanLink {
    padding-left: 0;
}

#lastSpanLink {
    border-right: 1px solid transparent;
}

.home__productsRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}


/* Our Contributions */

.home__ourContributions {
    height: auto;
    width: 100%;
    /* padding: 120px 50px 100px 50px ; */
    display: flex;
    justify-content: center;
}

.home__ourContributionsContent {
    height: 100%;
    width: 80%;
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
}

.home__ourContributionsContent > h4 {
    color: rgb(5, 104, 150);
    margin-bottom: 25px;
}

.home__ourContributionsContent > h2 {
    color: rgb(5, 104, 150);
}

.home__ourContributionsContent > p {
    margin-bottom: 50px;
    margin-top: 50px;
}

.home__imageCards {
    display: flex;
}




.home__mobileContainer {
    display: none;
    width: 100%;
}

@media(max-width: 960px) {
    .home__mobileContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeTopCardMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 130px;
        width: 90%;
    }

    .home__cards {
        margin-bottom: -80px;
    }

    .home__aboutUsContent {
        padding-top: 20px;
    }
}
